{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            {% for article in articles %}
                <article class="mb-4">
                    {% if article.image %}
                        <a href="{% url 'article_details' article.slug %}">
                            <img class="img-fluid w-100 mb-2" src="{{ article.image.url }}" alt="{{ article.title }}">
                        </a>
                    {% endif %}
                    <h3>
                        <a href="{% url 'article_details' article.slug %}">
                            {{ article.title }}
                        </a>
                    </h3>
                    <p>{{ article.excerpt|truncatewords:25 }}</p>
                    <small>Published: {{ article.pub_date }}</small>
                </article>
                <hr>
            {% empty %}
                <p>No articles in this category yet.</p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 mt-4 mt-md-0">
            <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}